/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
} */

a {
  text-decoration: none;
}

:root{
  --text-color1: white;
  --text-color2: #10151A;
  --text-color3: #FFD600;
  font-family: "PT Mono", "IBM Plex Mono", monospace;
  font-size: 62.5%;
}
body {
  /* background-image: url(/images/BG\ Stars.png) ; */
  background-color: var(--text-color2);

}
.header-container{
  padding: 1.6rem 0rem 1.6rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
}
.header-links-item {
  
}
.header-links-link {
  text-align: center;
  color: var(--text-color1);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem; /* 175% */
  opacity: 0.9;
}

.header-link {
  color:var(--text-color1);
  display: inline-flex;
  font-size: 1.688rem;
  /* margin: 0rem 13.68rem 0rem 6.02rem; */
  justify-content: start;
  align-items: center;
  flex-shrink: 0;
  gap: 0.79rem;
}
.header-twitter {
  color: var(--text-color1);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  display: inline-flex;
  padding: 0.4rem 1.6rem 0.4rem 1.2rem;
  align-items: center;
  gap: 0.8rem;
  border-radius: 0.8rem;
  background: #262E37;
}

.header-twitter-img {
}

.superdao {
}
.logo {
  /* margin: 0rem 0.79rem 0rem 0rem; */
  
}
.header-menu {
  display: flex;
  justify-content: end;
  border: 0rem;
  padding: 0rem;
}
.header-menu-icon {
  background-color: #10151A;
  border: 0px;
}
.main {
}
.section-hero {
  margin-top: 2.4rem;
  text-align: center;
  
}


.section-hero-title {
  color:var(--text-color1);
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  line-height: 4rem; /* 125% */
  text-shadow: 0px 0.4rem 1.8rem rgba(0, 0, 0, 0.30);
  /* margin: 4rem 1.6rem 0rem 1.6rem; */
}

.hero-img {
  position: relative;
}

.hero-img::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -15%;
  left: -10% ;
  z-index: -1;
  width: 150%;
  height: 20px;
  background-image: url(/images/Underline_1.svg);
  background-repeat: no-repeat;
  background-color: var(--text-color2);

}
.section-hero-description {
  color:var(--text-color1);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  line-height: 2.4rem; /* 160% */
  opacity: 0.8;
  margin: 1.6rem 1.6rem 3.2rem 1.6rem;
}
.section-hero-link {
  display: inline-flex;
  /* margin: 3.2rem 6.3rem 0rem 6.3rem; */
  /* padding: 0.8rem 2.8rem; */
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background: linear-gradient(180deg, #FFD600 0%, #FFB800 100%);
  box-shadow: 0px 0.9rem 4.4rem 0px rgba(255, 214, 0, 0.19);
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem; /* 200% */
  color: var(--text-color2);
  height: 4.8rem;
  width: 16.2rem;
}
.bg_stars {
  background-image: url(/images/stars.png), lightgray 0px -0.018px / 100% 98.536% no-repeat;
  
}
.section-super {
  margin: 8rem 1.6rem 0 1.6rem;

}
.super-title {
  color:var(--text-color1);
  text-align: center;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.60);
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem; /* 114.286% */
  margin-bottom: 2.4rem;
}
.super-img{
  position: relative;
}
.super-img::after {
  content: "";
  display: block;
  position: absolute;
  left: -7% ;
  bottom: -1%;
  z-index: -1;
  width: 110%;
  height: 15px;
  background-image: url(/images/Underline_2.svg);
  background-repeat: no-repeat;
  /* transform: rotate(-90deg); */
  /* overflow:; */
}
.super-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:2.4rem;
}
.super-list-item {
  /* margin: 2.4rem 1.6rem 0 1.6rem; */
  
}
.super-list-item-heading {
  
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  color:var(--text-color3);
}
.super-list-item-discription {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color:var(--text-color1) ;
}
.section-border {
  /* width: 28.8rem; */
  /* height: 76.8rem; */
  flex-shrink: 0;
  /* margin: 8rem 1.6rem 0rem 1.6rem; */
  margin-top: 8rem;
  border-radius: 1.6rem;
  border: 0.3rem solid #FFD12F;
  background: rgba(255, 255, 255, 0.02);
  padding: 1.6rem 0rem 2.4rem 0rem;
  text-align: center;
}
.section-borapps {
  /* margin: 1.6rem 1.4rem 0 1.4rem; */
  
  flex-shrink: 0;
}
.border-apps-icon {
}
.border-apps-heading {
  /* margin: 0.4rem 11.8rem 0 9.4rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--text-color3);
}
.border-apps-list {
  /* margin: 1.6rem 1.6rem 0 1.6rem; */
  display: inline-flex;
  justify-content: center;
  gap: 0.8rem;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3.2rem;
}
.border-apps-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.10);
  /* margin-right: 0.8rem; */
  /* height: 2.4rem; */
  /* padding-left: 0.8rem; */
  padding-right: 0.8rem;
  border-radius: 0.4rem;
  /* flex-wrap: wrap; */
  /* gap: .5rem; */
  gap: 0.2rem;
}
.border-apps-list-item-circle-1 {

}
.border-apps-list-item-text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--text-color1);
  
}
.section-border-systems {
}
.border-systems-icon {
}
.border-systems-heading1{
  /* margin: 3.2rem 7.2rem 0 9.7rem; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.border-systems-heading {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  text-align: center;
  color: var(--text-color3);
  
}
.border-systems-list {
  margin-bottom: 3.2rem ;
}
.border-systems-list-item {
  display: flex;
  /* height: 10rem; */
  padding: 1.2rem 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  flex-shrink: 0;
  border-radius: 1.6rem;
  background: rgba(255, 255, 255, 0.10);
  margin-top: 1.6rem;
}
.border-systems-list-item-heading {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--text-color3);
}
.border-systems-list-item-discription {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: center;
  color: var(--text-color1);
}
.section-border-blockchains {
  /* margin: 0 1.6rem 0 1.6rem; */
}
.border-blockchains-icon {

}

.border-blockchains-heading {
  /* margin: 3.2rem 8.1rem 0 5.6rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--text-color3);
  margin-bottom: 1.6rem;
  text-align: center;
}
/* Доделать wrap */
.border-blockchains-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
  
}

.border-blockchains-list-item {
  display: inline-flex;
  /* justify-content: space-around; */
  padding-left: 0.8rem;
  gap: 0.8rem;
  border-radius: 1.2rem;
  background: rgba(255, 255, 255, 0.10);
  min-width: 11rem;
  min-height: 4.4rem; 
  /* padding: 0.8rem 1.5rem 0.8rem 0.8rem; */
  align-items: center;


}
.border-blockchains-list-item-icon-Ethereum {
  /* background-image: url(/images/Ethereum\ \(ETH\).svg); */
  display: flex;
  width: 2.8rem;
  height: 2.8rem;
  justify-content: center;
  align-items: center;
}
.border-blockchains-list-item-icon-Solana{
  /* background-image: url(/images/Solana\ \(SOL\).svg); */
  display: flex;
  width: 2.8rem;
  height: 2.8rem;
  justify-content: center;
  align-items: center;
}
.border-blockchains-list-item-icon-Terra{
  /* background-image: url(/images/Icon_terra.svg); */
  display: flex;
  width: 2.8rem;
  height: 2.8rem;
  justify-content: center;
  align-items: center;
}
.border-blockchains-list-item-icon-Polygon{
  /* background-image: url(/images/Polygon.svg); */
  display: flex;
  width: 2.8rem;
  height: 2.8rem;
  justify-content: center;
  align-items: center;
}
.border-blockchains-list-item-icon-Binance{
  /* background-image: url(/images/Binance\ Coin\ \(BNB\).svg); */
  display: flex;
  width: 2.8rem;
  height: 2.8rem;
  justify-content: center;
  align-items: center;
}
.border-blockchains-list-item-icon-NEAR{
  /* background-image: url(/images/NEAR\ Protocol\ \(NEAR\).svg); */
  display: flex;
  width: 2.8rem;
  height: 2.8rem;
  justify-content: center;
  align-items: center;
}
.border-blockchains-list-item-icon-Avalanche{
  /* background-image: url(); */
  display: flex;
  width: 2.8rem;
  height: 2.8rem;
  justify-content: center;
  align-items: center;
}
.border-blockchains-list-item-icon-more{
  /* background-image: url(/images/more.svg); */
  display: flex;
  width: 2.8rem;
  height: 2.8rem;
  justify-content: center;
  align-items: center;
}
.border-blockchains-list-item-text {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--text-color1);
  text-align: center;
}
.section-club {
  /* margin: 8rem 1.6rem 0 1.6rem; */
  margin-top: 8rem;
  /* width: 25.6rem; */
  /* height: 40.4rem; */
  flex-shrink: 0;
  border-radius: 1.6rem;
  background: linear-gradient(123deg, #A96BF7 2.02%, #3103B5 101.68%);
  padding: 1.6rem 0rem 1.6rem 0rem;
}
.club-heading {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  color: var(--text-color1);

}
.club-discription {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem; /* 157.143% */
  letter-spacing: -0.03rem;
  color: var(--text-color1);
  margin-top: 0.8rem;
}
.club-list {
  margin-top: 2rem;
  padding-left:1.6rem;
}
.club-list-item:not(:last-child) {
  margin-bottom: 1.2rem;
}
.club-list-item{
}
.club-list-item-icon {
}
.club-list-item-text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  color: var(--text-color1);
  /* margin: 0 0 0 2.4rem; */
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  
}
.club-btn {
  display: flex;
  padding: 0.8rem 5rem 0.8rem 5rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background: linear-gradient(180deg, #FFD600 0%, #FFB800 100%);
  box-shadow: 0px 9px 44px 0px rgba(255, 214, 0, 0.19);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem; 
  text-align: center;
  font-family: PT Mono;
  color: var(--text-color2);
  /* height: 4.8rem; */
  max-width: 25.6rem; 
  margin: 2.8rem auto 0 auto;
  width: 100%;
}
.club-link {
  display: flex;
  padding: 0.8rem 0rem 0.8rem 0rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background: rgba(255, 255, 255, 0.15);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem;
  text-align: center;
  color: var(--text-color1);
  /* height: 4.8rem; */
  margin: 1.2rem auto 0 auto;
  max-width: 25.6rem;
  width: 100%;
}
.section-learn {
  /* display: flex;
  justify-content: center; */
  margin-top: 8rem;
  
}

.learn-img{
  position: relative;

}
.learn-img::after{
  content: "";
  display: block;
  position: absolute;
  left: -10%;
  bottom: -1%;
  z-index: -1;
  width: 130%;
  height: 12px;
  background-image: url(/images/Underline_3.svg);
  background-repeat:no-repeat ;
}

.learn-heading {
  text-align: center;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.60);
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem;
  color: var(--text-color1);
  margin-bottom: 2.8rem;
}

.learn-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.learn-cards-item{
  
}
.card:first-child{
  margin-top: 2.8rem;
}
.card {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  /* width: 28.8rem;
  height: 12.4rem; */
  flex-shrink: 0;
  background: #1B2A40;
  /* margin-top: 15.2rem; */
  border-radius: 20px;
  overflow: hidden;
  max-width: 28.8rem;
  max-height: 30rem;
  
  
}

.card-img {
  max-width: 28.8rem;
  max-height: 20rem;
  flex-shrink: 0;
  
}
.card-heading {
  color:var(--text-color3);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem; /* 213.333% */
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  /* margin: 0rem 12.7rem 0 2rem; */
  padding-left: 2rem ;
  padding-top: 1.6rem;
  padding-bottom: 0.4rem;
}
.card-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--text-color1);
  /* margin: 0rem 2rem 2.4rem 2rem; */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2.4rem;
}
.section-sponsors {
  margin-top: 8rem;
}
.sponsors-heading {
  text-align: center;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.60);
  color: var(--text-color1);
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 3.2rem;
}
.sponsors-heading-img{
  position: relative;
}
.sponsors-heading-img::before{
  content: "";
  display: block;
  left: -10%;
  bottom: -9%;
  z-index: -1;
  height: 18px;
  width: 150%;
  position: absolute;
  background-image: url(/images/Underline_4.svg);
  background-repeat: no-repeat;
}
.companies {
}
.companies-list {
  display: flex;
  justify-content:center;
  gap: 1.99rem;
  flex-wrap: wrap;
  margin-bottom: 2.8rem;
}
/* .magicfund{
  display: flex;
  align-self: flex-;
} */
.companies-list-item {
}
.companies-list-item-icon {
}
.people {
}
.people-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 8rem;
}
.people-list-item {
  /* max-width: 13.3rem;
  max-height: 4rem; */
}
.people-list-item-text {
  color: var(--text-color1);
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  display: inline-flex;
  padding: 0.8rem 2rem;
  /* justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  border-radius: 1.2rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.15);
}
.footer {
  /* width: 32rem; */
  /* height: 12rem; */
  flex-shrink: 0;
  background: linear-gradient(180deg, #FFD600 0%, #FFC700 100%);
  padding-top: 1.93rem ;
  padding-bottom: 2.4rem;
}
.footer-top{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.89rem;
}
.footer-top-link {
  display: inline-flex;
  gap: 0.79rem;
  color: var(--text-color2);
  font-size: 1.6881rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.3762rem; /* 200% */
  letter-spacing: 0.0307rem;
  opacity: 0.8;
  
}
.footer-top-logo {
}
.footer-top-list {
  display: flex;
  justify-content: end;
  /* align-items: ; */
  flex-wrap: nowrap;
  gap: 1.6rem;
}
.footer-top-list-item {
}
.footer-top-list-item-link {
}
.footer-top-item-link-icon {
}
.footer-bottom {
  display: flex;
  justify-content: space-around;
}
.footer-bottom-link {
  color: var(--text-color2)
}
.footer-bottom-item  {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  opacity: 0.7;
  
  /* margin: 1.89rem; */
}


@media  (min-width: 768px) and (max-width: 959px){
  .wrapper{
    max-width: 73.6rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-menu{
    display: none;
  }
  .card{
    max-width: 22.6rem;
  }
}
@media  (min-width:321px) and (max-width: 767px) {
  .wrapper{
    max-width: 36.8rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-links, .header-twitter{
    display: none;
  }
  .section-super{
  }

  .card{
    max-width: 36.8rem;
  }
  .card-img{
    max-width: 36.8rem;
    height: auto;
  }
  .footer{
    /* padding-left: 15%;
    padding-right: 15% ; */
    
  }

  .footer-bottom{
    display: flex;
    justify-content: space-evenly;
    gap: 3.2rem;
  }
}
@media (max-width: 320px) {
  /* .container{
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  } */
  .header-links,.header-twitter{
    display: none;
  }
  .wrapper{
    max-width: 36.8rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    padding-left: 16px;
    padding-right: 16px;
  }
  .border-apps-list{
    justify-content: space-between;
  }
  
} 
.dashboard{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "linkss grafic";

}

.links{
  grid-area: linkss;
}

.graf{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-area: grafic;
}

.largebox{
  grid-column: 1/-1;
}

.smallbox{
  grid-column: span 2;
}

.mediumbox{
  grid-column: span 3;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

.item{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 1;
  max-width: 100%;
  border-radius: 8px;
  justify-self: center;
  align-items: center;
}

.itemimg{
  grid-column: -1/1;
  grid-row-start: 1;
  max-width: 100%;
}

.itema{
  background-color: var(--text-color3);
  padding: 10px 20px;
  grid-column: -1/1;
  grid-row-start: 1;
}